#nav-bar{
    position: sticky;
    top : 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right , #1646a6 , #446ab7);
   
}
.navbar-brand img 
{
    height : 80px;
    padding-left: 20px;
    padding-top: 12px;
}
.text-white
{
    padding: 9px 0;
    float: left;
    text-align: left;   
}
.navbar-nav li
{
    padding : 0 10px;
}

.navbar-nav li a
{
    padding-right: 20px;
    color: #fff ;
    font-weight: 700;
    float: left;
    text-align: left;   
}
.navbar-toggler
{
    color: #fff;
    font-size: 30px !important;
    outline: none !important;
}


/* <!-- ---------------Banner Section -------------------------> */

#banner
{
    background-image: linear-gradient(to right , #1646a6 , #446ab7);
    /* background-color: #1646a6; */
    color: #fff;
    padding-top: 5%;
}

.promo-title
{
    font-size: 35px;
    font-weight: 600 ;
    margin-top: 100px;
}
#banner .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    color: #fff ;
    border-radius: 20px;
     background-color: #ffbb00; 
    /* background-color: #ffa23f ; */
   /* background-image: linear-gradient(to right , #ffa23f , #ffca93 ); */
}

.promo-title2
{
    font-size: 20px;
    font-weight: 300 ;
}
.home-image img
{
    height : 400px;
    width : 500px;

}
.bottom-img
{
    width: 100%;
}


/* <!------------------------------Services Section  ---------------------------------> */

#services
{
    padding: 80px 0;
}
.service-img
{
    width: 100px;
    margin-top: 20px;
}
.services
{
    padding: 20px;
}
.services h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before
{
    content: '';
    background: #1646a6;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after
{
    content: '';
    background: #1646a6;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
#services .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
      background-color: #ffa23f ; 
    /* background-image: linear-gradient(to right , #1646a6 , #446ab7); */
    /* background-image: linear-gradient(to right , #a517ba , #5f1782); */
}

/* <!-------------------- About US   ----------------------> */

#about-us
{
    background : #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
about-title
{
    font-size: 40px ;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li
{
    margin: 10px 0;
}
#about-us ul
{
    margin-left: 20px;
}


/* <!-------------------- Social Media----------------------> */

#social-media
{
    background :#f8f9fa ;
    padding: 100px 0;
}
#social-media p
{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons a:hover img
{
        transform: translateY(-10px);  
}
.social-icons img
{

      width: 60px;
      transition: 0.5s;
}


/* <!-------------------- Footer Section----------------------> */

#footer
{
    /* background-image: linear-gradient(to right , #a517ba , #5f1782); */
    background-image: linear-gradient(to right , #1646a6 , #446ab7);
    color: #fff;
}
.footer-img
{
    width: 100%;
}
.footer-box
{
    padding: 20px;
}
.footer-box img
{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa
{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px ;
    border-radius: 2px;
    /* background-image: linear-gradient(to right , #a517ba , #5f1782); */
    background-image: linear-gradient(to right , #1646a6 , #446ab7);
}
